  <form action="">
    <input type="number" [(ngModel)]="num1" name="num1" placeholder="Número 1">
    <input type="number" [(ngModel)]="num2" name="num2" placeholder="Número 2">
  
    <select [(ngModel)]="operador" name="operador">
      <option value="Suma" name="Suma">Suma</option>
      <option value="Resta" name="Resta">Resta</option>
      <option value="Multiplicacion" name="Multiplicacion">Multiplicacion</option>
      <option value="Division" name="Division">Division</option>
    </select>
    
  <button type="button" (click)="calculo()">Calcular</button>
  
  <div>Resultado: {{ resultado }}</div>
  </form>
<router-outlet />